button {
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;

  i {
    margin-right: 0.5rem;
  }
}

.list-container {
  margin: 1rem;
}
