.container {
  background: #e4e4e4;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

p {
  font-size: 24px;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.info {
  flex: 1;
  min-width: 0;
}

.description {
  display: -webkit-box;
  font-weight: 500;
  line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

time {
  font-weight: 300;
  margin-right: 1rem;
}

.location {
  font-style: italic;
  font-weight: 500;
}

.registering {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  margin: 2rem 1rem;
  padding: 0 1rem 1rem;
}
